@forward './component/index';

h1{
    font-size: 30;
    color: red;
}

.greenColor{
    color: greenyellow;
}

.hp{
    color: green
}

.redColor{
    color:red
}


.Link-to-page{
    color: #fff;
    line-height: 0;
    &:hover{
        color: #fff;
    }
}